.app-header {
  background-color: #ffffff;
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
  position: sticky;
  top: 0;
  box-shadow: 2px 1px 2px 0px #cccccc40;

  .img {
    width: 265px;
    display: block;
  }
}
