@use "../../../../styles/colors";

.app-header {
  position: sticky;
  top: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 28px;
  background-color: colors.$app-header-background;
  box-shadow: 2px 1px 2px #cccccc40;

  img {
    display: block;
    width: 265px;
  }
}
