@use "../../../../styles/colors";

.app-currency-card {
  max-width: 430px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border-radius: 16px;
  background-color: colors.$card-background;
  box-shadow: 0 0 6px 2px #cccccc40;

  .card-header {
    padding: 42px;
    text-align: center;
    background-color: colors.$card-header-background;

    h3 {
      font-size: 30px;
      font-weight: 700;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .loading-state,
    .error-state {
      min-height: 298px;
      display: flex;
      justify-content: center;
    }

    .error-state {
      flex-direction: column;
      text-align: center;

      p {
        margin-bottom: 11px;
        font-size: 26px;
        font-weight: 400;
        color: colors.$text-basic;
      }
    }

    .success-state {
      width: 100%;

      .currency-value {
        padding: 47px 0 57px;
        text-align: center;
        font-size: 64px;
        font-weight: 500;

        &.red {
          color: colors.$text-red;
        }

        &.green {
          color: colors.$text-green;
        }

        &.blue {
          color: colors.$text-blue;
        }
      }

      .currency-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 99px;
        border-top: 0.5px solid #cccccc;

        .box-info {
          padding: 16px 0 12px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:first-child {
            border-right: 0.5px solid #cccccc;
          }

          span {
            font-size: 18px;
            font-weight: 600;
            color: colors.$text-secundary;
          }

          p {
            font-size: 24px;
            font-weight: 600;
            color: colors.$text-basic;
          }
        }
      }
    }
  }
}
