.currency-card {
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.value.red {
  color: #e53935;
}

.value.green {
  color: #43a047;
}

.value.blue {
  color: #1e88e5;
}
