@use '../../../../styles/colors';

.app-button {
  min-width: 173px;
  padding: 16px 8px;
  border: none;
  border-radius: 16px;

  background-color: colors.$button-background;
  color: colors.$text-basic;

  font: inherit;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}
