.app-home {
    height: calc(100vh - 101px);
    display: flex;
    justify-content: center;
    align-items: center;

    .currencies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 94px;
    }
}