@use "../../../styles/breakpoints" as bp;
@use "../../../styles/media-queries" as mq;

.app-home {
  min-height: calc(100vh - 101px);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq.down(bp.$desktop) {
    min-height: auto;
    padding: 38px 0;
    justify-content: flex-start;
  }

  .container {
    width: 100%;
    max-width: 1478px;
    margin: 16px;

    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 94px;

    @include mq.down(bp.$desktop) {
      grid-template-columns: minmax(0, 430px);
      gap: 38px;
      justify-content: center;
    }

    @include mq.down(bp.$phone) {
      grid-template-columns: 1fr;
      margin: 0 16px;
    }
  }
}
