@use "../../../styles/breakpoints" as breakpoints;
@use "../../../styles/media-queries" as media-queries;

.app-home {
  height: calc(100vh - 101px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-queries.down(breakpoints.$desktop) {
    height: auto;
    padding: 38px 0px;
    justify-content: start;
  }

  .container {
    max-width: 1478px;
    width: 100%;
    margin: 16px;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 94px;
    justify-items: stretch;

    @include media-queries.down(breakpoints.$desktop) {
      grid-template-columns: max(430px);
      gap: 38px;
      justify-content: center;
    }

    @include media-queries.down(breakpoints.$phone) {
      grid-template-columns: max(98%);
      justify-content: center;
    }
  }
}
