@use "styles/colors";
@use "styles/fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  min-height: 100%;
  font-family: fonts.$font-family;
  background-color: colors.$app-background;
  color: colors.$text-basic;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
