@use "styles/colors";
@use "styles/fonts";

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: fonts.$font-family;
  background-color: colors.$app-background;
  color: colors.$text-basic;
}
